:root {
  --primary-color: #850303;
  --secondary-color: darkslategray;
  --secondary-color2: #ff8c00;
  --accent-color: #ff2d55; /* Tomato */   
  --background-color: #f0f0f0; /* Light gray */
  --font-family: 'Arial, sans-serif';
  --font-size: 16px;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  overflow: hidden;
  
}   

h1, h2, h3, h4, h5, h6 {
  color: var(--secondary-color);
  text-align: center;
  color: black;
}
p {
  line-height: 1.6;
} 

button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;

  cursor: pointer;
  font-size: var(--font-size);
}

button:hover {
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
  color: black;
} 

div.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px; 

  background-color: #fdff8f;
  border: 1px solid var(--secondary-color); 

  transition: all 0.3s ease;
  position: relative; 
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.container-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

div.container-filter p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

form input {
  padding: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  outline: none;
}

form input:hover {
  transform: scale(1.02);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
 

select {
  padding: 10px;
  border: none;
  border-radius: 4px;
  max-width: 100px;
  margin-right: 0.5rem;
  color: #f0f0f0;
  background-color: #333;
}

.for-mobile-device {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.table-wrapper {
  overflow: auto;
  width: 100%;
}


.expense-list {
  background-color: #e2fa5c;
  width: 70vw;
  height: 40vh;
  overflow: auto;
  box-sizing: border-box;
}


/* Ensure table doesnt shrink too much */
table {
  width: 100%;
  border-collapse: collapse;
  min-width: 300px; 
  text-align: center;
  padding: 5px;
}

th, td {
  padding: 8px;
  white-space: nowrap;
}

#summary p {
  color: #850303;
  font-size: 20px;
  font-weight: bolder;
}

p.bg-total {
  color: green;
}

.hidden {
  display: none;
}


.error-message {
  display: block;
  min-height: 2rem;
  overflow: hidden;
  color: #ff4444;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  background: #ffeeee;
  transition: opacity 0.3s;
}

.error-message.hidden {
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

#summary {
  display: flex;
  justify-content: center;
  
}
#summary ul {
  list-style: none;
}




@media (max-width: 600px) {

  body {
    overflow: visible; 
  }

  button {
    border: none;
    padding: 10px 10px;
    font-size: 12px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  form input {
    width: 96%;
    max-width: none;
  }

  form select, button {
    max-width: none;
    width: 100%;
  }

  .for-mobile-device {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
  }

  .table-wrapper {
    font-size: 14px;
  }

  #summary {
    padding-top: 1rem;
  }
}



